@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

#app {
  font-family: 'Klee One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
